extends layout

block content

  header.w3-margin-left
      h1.w3-text-blue Tabela Periódica  


  ul
    li.w3-text-teal
      a(href=`/elements`) Elementos
    li.w3-text-pink
      a(href=`/groups`) Grupos
    li.w3-text-orange
      a(href=`/periods`) Periodos