extends layout

block content

  header.w3-margin-left

    h1.w3-text-blue 
      a(href="/" style="text-decoration: none")  Tabela Periódica - 
      span.w3-text-pink Periodo #{id}
  
  if periodo
  
    ul
      if periodo[0].number
        li
          b Número: 
          span= periodo[0].number.value
      li 
        b Elementos: 
        ul
          each elem in periodo
            li
              a(href=`/elements/${elem.e.value.split('#')[1]}`)= elem.e.value.split('#')[1]


        
      
  else 
    p.w3-margin-left Não existe informação sobre este periodo.

  span(onclick=`window.history.go(-1)` style="text-decoration: underline; cursor:pointer;" ).w3-margin-left Voltar
  a(href="/periods").w3-margin-left Lista de Periodos
